body { font-family: Arial, Helvetica, sans-serif; font-size: large;
       overscroll-behavior: none; touch-action: none;            // for phones
} 

h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }

input.setInput { width: 25%; }
input.smallInp { width : 30px }

.centerTable { margin-left: auto; margin-right: auto; }
.center { display: block; margin-left: auto; margin-right: auto; }

th, td { padding: 5px; }
tr:nth-child(even) { background-color: #EEEEEE; }

.inputhide {display: inline;}

.plotArea { width:300; max-width:300;float: right;}
.modebar-container { display:none }

@media (prefers-color-scheme: dark) { 
  body{color: white; background: #2F3F3F }
  hr{color: #B3B3B3}
  svg{color: black; background: #BBBBBB }
  textarea{background: #BBBBBB }
  input{background: #BBBBBB }
  a { color: #FFDEAD }
  tr:nth-child(even) { background-color: #708090 }
}

