/* fallback message if browsers that don't support all the features. All of 
   the content will be still fully accessible, but more advanced effects would be missing.
   When impress.js detects browser support the fallback-message style is hidden. */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;
    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94; }
.fallback-message p { margin-bottom: 10px; }
.impress-supported .fallback-message { display: none; }

/************************** body ********************/

body { font-family: 'Open Sans', Arial, sans-serif;
    min-height: 740px;
    background: #eeeeff;
    color:  #333366; 
    overscroll-behavior: none; touch-action: none;            // for phones
}

/*************************** steps *******************/

.step { position: relative;
    display: block;
    width: 900px;
    height: 700px;
    margin: 20px auto;
    padding: 40px 60px;
    font-size: xx-large; }

.impress-enabled .step {    /*  inactive steps a little bit transparent  */
    margin: 0;
    opacity: 0.3;
    transition: opacity 1s; }

.impress-enabled .step.active { opacity: 1 }

.impress-enabled div#impress-toolbar {
    position: fixed; left: 1px; top: 20px; opacity: 0.6;
    z-index: 10; }      /* make sure it is on top so that buttons work */

.impress-progress { position: fixed; left: 1px; top: 45px; opacity: 0.6; }

.impress-autoplay { display:none }

/************************** normal tags *******************************/

h1, h2, h3 { margin-bottom: 0.5em; margin-top: 0.5em; text-align: center; }

em { font-weight: bold; }

/************************** not used  *******************************/

/* p { text-align: left; margin: 0.7em; } */

/* li { margin: 0.2em; } */

/* a { color: inherit; text-decoration: none; padding: 0 0.1em;
    background: rgba(200,200,200,0.3);
    border-radius: 0.2em;
    border-bottom: 1px solid rgba(100,100,100,0.4);
    border-left: 1px solid rgba(100,100,100,0.4);
    transition: 0.5s; }
a:hover, a:focus {
    background: rgba(200,200,200,1); */

/* blockquote { font-family: 'PT Serif'; font-style: italic; font-weight: 400; }
q { font-family: 'PT Serif'; font-style: italic; font-weight: 400; }
strike { opacity: 0.7; }
small { font-size: 0.4em; } */

/********************************** specifics ******************************/

sup { line-height: 0; }

img { width: 300px }

img.taskicon { width: 120px; float: right; padding: 30px; } 

div#slide0 svg { position: absolute; left: 0; top: 0; z-index: -1; } /* picture on slide0 */

.setInput { font-size: xx-large; }               /* large input fields */
input.setInput { width: 35%; }

input.medBut { font-size: xx-large; }
span.piece button { font-size: xx-large; }
span.piece button:active { font-size: x-large;}  /* dragged gets smaller */
span.over button { font-size: xxx-large; }       /* larger when over */
span.answerDrag { color: green; padding: 30px; font-size: 1em;}

.inputhide { display: inline; } 
.plotArea { width:300; max-width:300;float: right; }
.modebar-container { display:none }

/**************************** dark scheme overrides ***********************/

@media (prefers-color-scheme: dark) { 
  body{ color: white; background: #2F3F3F }
  hr{ color: #B3B3B3 }
  svg{ color: black; background: #BBBBBB }
  textarea{ background: #BBBBBB }
  input{ background: #BBBBBB }
  a { color: #FFDEAD }
  tr:nth-child(even) { background-color: #708090 }
  .setInput { background: white }
  span.piece button { background-color: #FFEBCD }
  button { background-color: white }
  select { background-color: white }
}
